.PagVenderProduto *{
    font-family: 'JetBrains Mono';
}

.PagVenderProduto {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'JetBrains Mono';
}

.PagVenderProduto .DivForms {
    width: 100%;
    justify-content: center;
}

.PagVenderProduto .voltar {
    padding: 10px;
    border-radius: 3px;
    background-color: #1e293b;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.PagVenderProduto .DivForms button.voltar {
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}  

.PagVenderProduto .container-tela-produtos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.PagVenderProduto .enquadramento{
    max-width: 1440px;
    margin: 0 auto;
}

.PagVenderProduto .formulario{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 50px;
    width: 100%;
}

.PagVenderProduto .EnquadramentoGlobal{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
}

.PagVenderProduto .grupo-input-produto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 0px;
}

.PagVenderProduto .grupo-input {
    margin-bottom: 10px;
}

.PagVenderProduto .grupo-input label {
    margin-right: 10px;
}

.PagVenderProduto .grupo-input input,
.PagVenderProduto .grupo-input textarea {
    width: 98%;
    padding: 5px 5px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 3px;
    
}

.PagVenderProduto .controle-formulario[readonly] {
    background-color: #f0f0f0; /* Adjust the color as needed */
    color: #333; /* Adjust the text color as needed */
    cursor: not-allowed; /* Change the cursor to indicate the field is not editable */
}

.PagVenderProduto .container-tela-produtos button {
    padding: 10px;
    border-radius: 3px;
    background-color: #1e293b;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.PagVenderProduto .Select-Produto{
    width: 100%;
    padding: 5px 5px;

}

.PagVenderProduto .SelectCategorias{
    height: 30px;
    max-width: 1325px;
}

.PagVenderProduto .Resultado-select{
    border: 3px solid black;
    border-radius: 10px;
    width: 45%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    
  
    padding: 0px 0px 0px 10px;
}








/* Pagina Cadastro fornecedor */

.PagVenderProduto .teste {
    background-color: rgba(214, 214, 214, 0.6);
    border-radius: 8px; 
    padding: 10px; 
    margin: 16px 0; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 100px; 
    height: auto; 
}

.toggle-switch {
    display: flex;
    align-items: center;
  }
  
  .toggle-switch input {
    appearance: none;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
  }
  
  .toggle-switch input:checked {
    background: #4CAF50;
  }
  
  .toggle-switch input:checked::before {
    transform: translateX(20px);
  }
  
  .toggle-switch input::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    transition: transform 0.2s;
  }

  .container-tela-cad_Fornecedor{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 70vh; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    transform: translateX(1%); 
  }
  .container-tela-cad_Fornecedor button{
    padding: 10px;
    border-radius: 3px;
    background-color: #1e293b;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }



    .container-tela-cad_Fornecedor .formulario{
        display: inline-flex;
        border: 2px solid #000;
        border-radius: 10px;
        padding: 50px;
        width: 40%;
       
    }


    .ListaFornecedores {
        margin-left: 10px;
        display: flex;
        flex-direction: column; 
        overflow-y: scroll;
        height: 380px;
    }
    .ListaFornecedores label{
        
        font-size: 18px;
        
    }

    .ListaFornecedores .Fornecedores{
        border: 1px solid #000;
        margin-top: 5px;
    }
    .Fornecedores img{
        width: 20px;
        height: 20px;
        margin-bottom: -4px;
        margin-left: 5px;
    }

/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px 10px;*/