
.Cabecalho{
    font-family: 'JetBrains Mono', sans-serif;
    height: 15vh;
    width: 100vw;
    background-color: #000000b9;
}
header {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

/*Header*/
.Cabecalho .PGGTextDiv{
    margin-left: 10px;
    height: 100%;
    width: 250px;
}
.Cabecalho .EmpresaDiv{

    height: 100%;
    width: 250px;
}
.Cabecalho .texto-anima-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.Cabecalho .texto-anima-wrapper svg {
    font-family: "JetBrains Mono", sans-serif;
    
}
.Cabecalho .texto-anima-wrapper svg text {
    animation: chave-animacao 5s alternate forwards;
    cursor: pointer;

}
.Cabecalho .animated-text-PPG{
    font-size: 40px;
    stroke: #ffffff;
    stroke-width: 2;
}
.Cabecalho .animated-text-PGGLonger{
    font-size: 20px;
}
.Cabecalho .animated-text-Empresa{
    font-size: 50px;   
}


@keyframes chave-animacao {
    0% {
        fill: #000000;
        stroke: #000000;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgb(24, 24, 24); 
        stroke: rgb(24, 24, 24);
    }
    80% {
        fill: #696969; 
        stroke: #696969;
        stroke-width: 3;
    }
    100% {
        fill: rgb(255, 255, 255); 
        stroke: rgb(255, 255, 255);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 1;
    }
}


.Cabecalho .DivUser{

    height: 100%;
    width: 400px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Cabecalho .nomeUser{
    font-size: 15px;
    width: 100%;
}
.Cabecalho #DivBtnsUser{
   margin-top: 10px;
   display: flex;
   justify-content: center;
   gap: 10px;
}   
.Cabecalho .DivImg{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cabecalho .DivAddFunc{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cabecalho img{
    width: 25px;
    height: 25px;
    background-color: #00000000;
}





/*Nav*/
.Cabecalho .navMenu {
    margin-top: 0px;
    background-color: #000000;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    
}
  
.Cabecalho  .navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .Cabecalho  .navMenu a:hover {
    color: #dd501c;
  }
  

.Cabecalho  .navMenu a.selecionado {
    background-color: #ff6228;
    border-radius: 6px;
    font-weight: bold;
}


