.TesteNavBar2 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
}

.TesteNavBar2 #NomeEmpresa {
    color: #fff;
    font-size: 40px;
}


.TesteNavBar2 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c53d0f;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    max-height: 100px;
}


.TesteNavBar2 nav #logo {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #f6f6f6;
    text-align: center;
}

.TesteNavBar2 #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TesteNavBar2 #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.TesteNavBar2 #navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #f6f6f6;
    transition: 0.3s ease-in-out;
}

.TesteNavBar2 #navbar li a:hover,
.TesteNavBar #navbar li a.active {
    color: #6b2108;
}

.TesteNavBar2 #navbar li a:hover::after,
.TesteNavBar #navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #6d1b00;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.TesteNavBar2 #mobile i {
    align-items: center;
    color: #fff
}

.TesteNavBar2 #mobile {
    display: none;
}

@media screen and (max-width:769px) {
    .TesteNavBar2 #navbar {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #992d09;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    .TesteNavBar2 #navbar.active {
        right: 0px;
    }

    .TesteNavBar2 #navbar li {
        margin-bottom: 25px;
    }

    .TesteNavBar2 #mobile {
        display: block;
    }

    .TesteNavBar2 #mobile i {
        font-size: 24px;
        cursor: pointer;
    }

}