.PagFuncionarios {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'JetBrains Mono', sans-serif;
    align-items: center;
    justify-content: center; 
}

.PagFuncionarios button{
    background-color: #C53D0F;
    border-color: transparent;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
    margin: 10px auto;
    width: 80px;
    font-family: 'JetBrains Mono';
}

.PagFuncionarios div.btn{
    margin-right: 67%;
}


.PagFuncionarios .Cabecalho {
    width: 100%;
}

.PagFuncionarios .Conteudo {
    display: flex;
    flex-grow: 1;
    width: 80%; 
    max-width: 1200px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
}

.PagFuncionarios .BarraLateral {
    width: 50%;
    border-right: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PagFuncionarios .BarraLateral input[type="text"] {
    width: 580px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.PagFuncionarios .ItemFuncionario {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.PagFuncionarios .ItemFuncionario:hover {
    background-color: #f0f0f0;
}

.PagFuncionarios .ConteudoPrincipal {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.PagFuncionarios .EspacoReservado {
    font-size: 16px;
    color: #aaa;
}
