.LoteEconomico *{
    font-family: 'JetBrains Mono', sans-serif;
}
  
  .LoteEconomico .ConteudoDaPagina {
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 5%;
  }
  
  .LoteEconomico .ConteudoDaPagina button {
    border-radius: 3px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    padding: 10px;
    width: 25%;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
  }
  .LoteEconomico .grupo-input-produto button {
    border-radius: 3px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    padding: 10px;
    width: 35%;
    margin-left: 10%;
  }
  
  .LoteEconomico .ConteudoDaPagina {
    display: flex;
    justify-content: center;
  }
  
  .LoteEconomico .terminal {
    width: 40%;
    border: 1px solid #000000;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 480px;
    margin-top: -5px;
    overflow: auto;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    z-index: 2;
  }
  .LoteEconomico .terminalShow {
      width: 36%;
      border: 1px solid #000000;
      padding: 15px;
      border-radius: 5px;
      background-color: #f9f9f9;
      height: 480px;
      margin-top: -5px;
      overflow: auto;
      transform: translateX(-300px);
      transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
      z-index: 2;
  }
  .LoteEconomico .terminalShow button{
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    width: 30%;
  }
 
  
  .LoteEconomico .barra-pesquisa {
    display: flex;
    flex-direction: row;
  }
  
  .LoteEconomico .barra-pesquisa input {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  .LoteEconomico .barra-pesquisa .botao-pesquisa {
    width: 5%;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  .imagem-botao {
    width: 25px; 
    height: 25px; 
  }
  
  .LoteEconomico .lista-LoteEconomico {
    list-style-type: none;
    padding: 0;
  }
  
  .LoteEconomico .DivsResutlados {
    height: 30px;
    width: 200px;
    border: solid black;
    border-width: 1px;
    box-shadow: 5px 5px 5px #858585;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    cursor: default;
    position: relative; /* Necessário para o posicionamento da tooltip */
  }
  
  .LoteEconomico .DivsResutlados label {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }
  
  .LoteEconomico .tooltip {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona a mensagem acima da div */
    left: 50%;
    margin-left: -80px; /* Centraliza a mensagem */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Posição do triângulo */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .LoteEconomico .DivsResutlados:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  






/*FORMULARIO*/



  .LoteEconomico .ContainerFormularioLoteEconomico{
    position: fixed;
    height: 450px;
    width: 40%;
    margin-top: 0.2%;
    z-index: 1;

    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

  } 
  .LoteEconomico .ContainerFormularioLoteEconomicoShow{
    position: fixed;
    height: 450px;
    width: 40%;
    margin-top: 0.2%;
    z-index: 1;

    opacity: 1;
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out 0.5s, opacity 0.5s ease-in-out;
    transform: translateX(350px);
  }


  
  .LoteEconomico .container-tela-produtos {
    display: flex;
    background-color: #ffffff;
    width: 80%;
    height: 435px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #000000;
    color: #000000;
    padding: 25px 0px 25px 130px;
   
  }

  .LoteEconomico .grupo-input-produto {
    display: flex;
    flex-direction: column;
    width: 80%;
   
  }
  .LoteEconomico .grupo-input-produto h2{
    margin-top: 0;
  }
  .LoteEconomico .grupo-input {
    margin-bottom: 10px;
  }
  
  .LoteEconomico .grupo-input label {
    margin-right: 10px;
  }
  
  .LoteEconomico .grupo-input input,
  .LoteEconomico .grupo-input textarea {
    display: block;
    width: 70%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 3px;
    
  }
  
  .LoteEconomico {
    font-family: 'JetBrains Mono';
}

.LoteEconomico .btn .voltar{
    width: 80px;
}

.LoteEconomico .btn{
    margin-left:3%;
}

.LoteEconomico .Voltar {
  width: 100px;
    padding: 10px;
    border-radius: 3px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-family: 'JetBrains Mono';
    margin-top: 20px;
}
  
  