.PagPontoPedido * {
    font-family: 'JetBrains Mono';
}

.PagPontoPedido .Tabela {
    margin-top: 50px; /* Ajuste o espaçamento superior da tabela */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

.PagPontoPedido .Tabela table {
    width: 95%;
    overflow-x: auto;
    border-collapse: collapse;
    text-align: center;
    height: 32vh;
}

.PagPontoPedido tbody {
    padding: 90px;
}

.PagPontoPedido tr:nth-child(even) {
    background-color: #f2f2f2;
}

.PagPontoPedido th {
    background-color: #e04d18;
    color: white;
}

.PagPontoPedido .lblTotal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PagPontoPedido .h1PontoDePedido {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.PagPontoPedido {
    font-family: 'JetBrains Mono';
}

.PagPontoPedido .btn button.voltar{
    width: 80px;
}

.PagPontoPedido .btn{
    margin-left:3%;
}

.PagPontoPedido .btn button {
    padding: 10px;
    border-radius: 3px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-family: 'JetBrains Mono';
    margin-top: 20px;
    margin-right: 50px;
}