.PagPontoPedido *, .PagMovimentos *  {
    font-family: 'JetBrains Mono', monospace; 
    text-align: center; 
}

.PagPontoPedido .btn {
    margin-left: 3%;
    margin-top: 20px;
}

.PagMovimentos .Tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
}

.PagPontoPedido .btn button {
    padding: 10px;
    border-radius: 3px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    margin-top: 20px;
    margin-right: 1500px; 
}


.PagPontoPedido .BuscarCategoria {
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 400px;
    width: 60%;
}

.PagPontoPedido .BuscarCategoria h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.PagPontoPedido .Tabela {
    margin-top: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow-x: auto; 
}

.PagPontoPedido .Tabela table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    max-width: 100%; 
}

.PagPontoPedido th, .PagPontoPedido td {
    padding: 10px; 
}

.PagPontoPedido th {
    background-color: #e04d18;
    color: white;
}

.PagPontoPedido tr:nth-child(even) {
    background-color: #f2f2f2;
}

.PagPontoPedido td {
    min-width: 100px;
}

@media screen and (max-width: 768px) {
    .PagPontoPedido .Tabela {
        overflow-x: auto;
    }
}

.PagPontoPedido .atencao {
    background-color: #fa3d2f;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
}
