.PagRelatorios {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'JetBrains Mono', sans-serif;
    align-items: center;
    justify-content: center;
}

.PagRelatorios button {
    background-color: #C53D0F;
    border-color: transparent;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
    margin: 10px auto;
    font-family: 'JetBrains Mono';
}

.PagRelatorios .listaInfo {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.PagRelatorios div.btn {
    margin-right: 67%;
}



.PagRelatorios .Cabecalho {
    width: 100%;
}

.PagRelatorios .Conteudo {
    display: flex;
    flex-grow: 1;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.PagRelatorios .BarraLateral {
    width: 50%;
    border-right: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PagRelatorios .ItemRelatorio {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.PagRelatorios .ItemRelatorio:hover {
    background-color: #f0f0f0;
}

.PagRelatorios .titulo {
    text-align: center;
}

@media print {
    body * {
        visibility: hidden;
    }

    .PagRelatorios .ConteudoPrincipal,
    .PagRelatorios .ConteudoPrincipal * {
        visibility: visible;
    }

    .PagRelatorios .ConteudoPrincipal {
        position: fixed;
        margin-left: -12%;
        zoom: 170%;
        min-width: 100% !important; /* Adjust this value to increase or decrease the width */
    }

    .PagRelatorios .no-print {
        display: none;
    }
}

.PagRelatorios .btnFecharRel{
    float: right;
    margin-right: 5%;
    margin-top: -10%;
}

.PagRelatorios .selectRelatorio{
    margin-top: 2%;
    margin-bottom: 2%;
    min-width: 60%;
    min-height: 4%;
    border-radius: 4px;
    font-family: 'JetBrains Mono';
}

.PagRelatorios .PaiRelatorios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PagRelatorios .ConteudoPrincipal {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 50%;
    min-width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
}

.PagRelatorios .InfoRelatorio {
    font-size: 16px;
}

.PagRelatorios .EspacoReservado {
    font-size: 16px;
    color: #aaa;
}