.PagUploadExcel *{
    font-family: 'JetBrains Mono', sans-serif;
}

.PagUploadExcel div.paginacaoLbl{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.PagUploadExcel div.paginacaoBtn{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PagUploadExcel div.paginacaoBtn button{
    margin: 20px;
    color: #ffffff;
    background-color: #2d7c2e;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.PagUploadExcel div.paginacaoBtn button:hover{
    background-color: #164217;
    transform: translateY(-2px);
    transition: background-color 0.3s, transform 0.2s; 
}


.PagUploadExcel .cabecalho-upload {
    margin-bottom: 20px;
    text-align: center;
}

.PagUploadExcel .area-upload {
    border: 2px dashed #4caf50; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.PagUploadExcel .areaInput{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    margin: 10px;
}

.PagUploadExcel .areaInput input{
    border: none;
    cursor: pointer;
    display: none;
}



.PagUploadExcel .area-upload:hover {
    background-color: #f0f8e0; 
}

.PagUploadExcel .btn-upload {
    background-color: #4caf50;
    color: white;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.PagUploadExcel .btn-upload:hover {
    background-color: #1e5220; 
    transform: translateY(-2px);
    transition: background-color 0.3s, transform 0.2s; 
}

.PagUploadExcel .tabela-dados {
    margin: 10px 10px;
    width: 98%; 
    overflow-x: auto; 
}

.PagUploadExcel .tabela-dados table {
    width: 100%; 
    border-collapse: collapse; 
}

.PagUploadExcel .tabela-dados th, .tabela-dados td {
    border: 1px solid #ddd;
    padding: 8px; 
    text-align: left; 
}

.PagUploadExcel .tabela-dados th {
    background-color: #4caf50;
    color: white;
}

.PagUploadExcel .tabela-dados tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.PagUploadExcel .tabela-dados tr:hover {
    background-color: #ddd; 
}

.PagUploadExcel .nome-arquivo {
    margin: 10px;
    font-style: italic; 
}


.PagUploadExcel .nome-arquivo button{
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s; 
}

.PagUploadExcel .nome-arquivo button:hover{
    transform: translateY(-2px);
}
.PagUploadExcel .btn-deletar {
    background-color: #f44034; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-top: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.PagUploadExcel .btn-deletar:hover {
    background-color: #811d1a;
    transform: translateY(-2px);
    transition: background-color 0.3s, transform 0.2s; 
}

.PagUploadExcel .btn-deletar:active {
    background-color: #ac2925; 
}

.PagUploadExcel .btn-limpar {
    background-color: #4caf50;
    color: white;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.PagUploadExcel .btn-limpar:hover {
    background-color: #18461a; 
}

.PagUploadExcel .tabela-dados-expandida {
    margin-top: 20px;
}

.PagUploadExcel .botao-container {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 10px;
}

.PagUploadExcel .btn-fechar {
    background-color: #f44034; 
    color: white; 
    border: none; 
    padding: 10px; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 4px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.PagUploadExcel .btn-fechar:hover {
    background-color: #590d0d;
    transform: translateY(-2px);
    transition: background-color 0.3s, transform 0.2s; 
}

.PagUploadExcel button.voltar{
    padding: 10px;
    border-radius: 3px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    transition: background-color 0.3s, transform 0.2s; 
}

.PagUploadExcel button.voltar:hover{
    background-color: #893010;
    transform: translateY(-2px);
}

.PagUploadExcel .TextoH3 h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo do conteúdo do popup */
.PagUploadExcel .poppup-conteudo {
    background-color: #ffffff; /* Cor de fundo do popup */
    padding: 30px; /* Aumenta o espaçamento interno */
    border-radius: 10px; /* Bordas mais arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra mais profunda */
    width: 90%; /* Largura responsiva */
    max-width: 500px; /* Largura máxima do popup */
    height: auto; /* Altura automática para ajustar o conteúdo */
    text-align: center; /* Alinhamento do texto ao centro */
    overflow: auto; /* Adiciona barra de rolagem se necessário */
    position: relative;
    z-index: 10;
}

/* Estilo do botão de ação */
.PagUploadExcel .poppup-conteudo button {
    display: inline-block; /* Permite centralizar os botões */
    background-color: #4caf50; /* Cor de fundo do botão de ação */
    color: white; /* Cor do texto */
    border: none; /* Remove borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    transition: background-color 0.3s ease; /* Transição suave para o hover */
    margin: 5px; /* Margem entre os botões */
}

/* Estilo do botão de ação ao passar o mouse */
.PagUploadExcel .poppup-conteudo button:hover {
    background-color: #134916; /* Cor do botão ao passar o mouse */
}

/* Centraliza os botões na parte inferior do conteúdo */
.PagUploadExcel .poppup-conteudo .botao-container {
    display: flex; /* Usar flexbox para o layout dos botões */
    justify-content: center; /* Centraliza os botões */
    margin-top: 20px; /* Margem superior */
    gap: 10px; /* Espaçamento entre os botões, opcional */
}

/* Estilo do botão de fechar */
.PagUploadExcel .fechar-popup {
    background-color: #ff6b6b; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove borda padrão */
    padding: 10px 15px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    margin-bottom: 15px; /* Espaçamento inferior */
    position: absolute; /* Posicionamento absoluto */
    top: 15px; /* Distância do topo */
    right: 15px; /* Distância da direita */
    font-weight: bold; /* Aumenta o destaque do texto */
    transition: background-color 0.3s ease; /* Transição suave para o hover */
}

/* Estilo do botão de fechar ao passar o mouse */
.PagUploadExcel .fechar-popup:hover {
    background-color: #ff4d4d; /* Cor do botão ao passar o mouse */
}

.PagUploadExcel .areaInput label{
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 12px 24px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
    display: inline-block; /* Para que o padding funcione corretamente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra do botão */
}

.PagUploadExcel .areaInput label:hover{
    background-color: #18431b; 
    transform: translateY(-2px); 
}

.btn-enviar-estoque {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-enviar-estoque:hover {
    background-color: #45a049;
}

.container-botoes {
    display: flex;
    gap: 10px; 
    align-items: center; 
}