.PagVenderProduto {
    font-family: 'JetBrains Mono', sans-serif;
    flex-direction: column;
    align-items: center;
}

.PagVenderProduto #DivForms {
    width: 100%;
    justify-content: center;
}

.PagVenderProduto .container-tela-produtos {
    background-color: #ffffff;
    width: 30%;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #000000;
    color: #000000;
    margin-top: 20px;
    padding: 20px;
    margin-top: 95px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

.PagVenderProduto .grupo-input-produto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.PagVenderProduto .grupo-input {
    margin-bottom: 10px;
}

.PagVenderProduto .grupo-input label {
    margin-right: 10px;
}

.PagVenderProduto .grupo-input input,
.PagVenderProduto .grupo-input textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 3px;
}

.PagVenderProduto button {
    padding: 10px;
    border-radius: 3px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    margin-top: 10px;
}

.PagVenderProduto .terminal {
    width: 35%;
    margin-top: 20px;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 444px;
    margin-top: -465px;
    float: right;
    margin-right: 10%;
    overflow: auto;
}

.PagVenderProduto .barra-pesquisa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.PagVenderProduto .barra-pesquisa input {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 3px;
}

.PagVenderProduto .barra-pesquisa .botao-pesquisa {
    width: 10%;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.imagem-botao {
    width: 20px;
    height: 20px;
}

.PagVenderProduto .lista-produtos {
    list-style-type: none;
    padding: 0;
}

.PagVenderProduto .lista-produtos li {
    margin: 5px 0;
}