.PagVenderProduto {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'JetBrains Mono';
}

.PagVenderProduto #DivForms {
    width: 100%;
}

.PagVenderProduto #DivForms button.voltar{
    width: 80px;
    margin-left: 30%;
    margin-top: 30px;
}

.PagVenderProduto .container-tela-produtos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.PagVenderProduto .enquadramento{
    width: 700px;
    margin: 0 auto;
}

.PagVenderProduto .formulario{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 50px;
}


.PagVenderProduto .grupo-input-produto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 0px;
}

.PagVenderProduto .grupo-input {
    margin-bottom: 10px;
}

.PagVenderProduto .grupo-input label {
    margin-right: 10px;
}

.PagVenderProduto .grupo-input input,
.PagVenderProduto .grupo-input textarea {
    width: 98%;
    padding: 5px 5px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 3px;
}

.PagVenderProduto .controle-formulario[readonly] {
    background-color: #f0f0f0; /* Adjust the color as needed */
    color: #333; /* Adjust the text color as needed */
    cursor: not-allowed; /* Change the cursor to indicate the field is not editable */
}

.PagVenderProduto button {
    padding: 10px;
    border-radius: 3px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    margin-top: 10px;
    width: 100%;
}
