.PagEscolhaProdutos *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'JetBrains Mono';
}

.PagEscolhaProdutos .logo{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.PagEscolhaProdutos .ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease;
}
.PagEscolhaProdutos .conteudoPagina {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PagEscolhaProdutos .ul li{
    color: white;
    margin: 0 35px;
    font-size: 15px;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.PagEscolhaProdutos .ul li:hover{
    color: rgb(0, 0, 0);
}

.PagEscolhaProdutos .clicavel{
    cursor: pointer !important;
}

.PagEscolhaProdutos .conteudoPaginaMaster{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 89.5%;
}

.PagEscolhaProdutos h1 {
    margin-top: 10%;
    background-color: #ffffff;
    border: 1px solid #000;
    min-width: 100px;
    width: calc(96%);
    border-radius: 10px;
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

    /*Cards*/

.PagEscolhaProdutos .ag-format-container {
    width: 1000px;
    margin: 0 auto;
    }

.PagEscolhaProdutos .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 100px 0;
}
.PagEscolhaProdutos .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 50px);
    flex-basis: calc(50% - 50px);
    cursor: pointer;
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}
.PagEscolhaProdutos .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}
.PagEscolhaProdutos .ag-courses-item_link:hover,
.PagEscolhaProdutos .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}
.PagEscolhaProdutos .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
.PagEscolhaProdutos .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}
.PagEscolhaProdutos .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}
.PagEscolhaProdutos .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}
.PagEscolhaProdutos .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #03fcbe;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.PagEscolhaProdutos .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #ff00c8;
}
.PagEscolhaProdutos .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

@media only screen and (max-width: 979px) {
.PagEscolhaProdutos .ag-courses_item {
-ms-flex-preferred-size: calc(50% - 30px);
flex-basis: calc(50% - 30px);
}
.PagEscolhaProdutos .ag-courses-item_title {
font-size: 24px;
}
}

@media only screen and (max-width: 767px) {
.PagEscolhaProdutos .ag-format-container {
width: 96%;
}

}
@media only screen and (max-width: 639px) {
.PagEscolhaProdutos .ag-courses_item {
-ms-flex-preferred-size: 100%;
flex-basis: 100%;
}
.PagEscolhaProdutos .ag-courses-item_title {
min-height: 72px;
line-height: 1;

font-size: 24px;
}
.PagEscolhaProdutos.ag-courses-item_link {
padding: 22px 40px;
}
.PagEscolhaProdutos.ag-courses-item_date-box {
font-size: 16px;
}
}
 