/* Importar as fontes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.PagEscolhaCurvaABC * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'JetBrains Mono';
}

.PagEscolhaCurvaABC .logo {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.PagEscolhaCurvaABC .ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease;
}

.PagEscolhaCurvaABC .conteudoPagina {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PagEscolhaCurvaABC .ul li {
    color: white;
    margin: 0 35px;
    font-size: 15px;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.PagEscolhaCurvaABC .ul li:hover {
    color: rgb(0, 0, 0);
}

.PagEscolhaCurvaABC .clicavel {
    cursor: pointer !important;
}

.PagEscolhaCurvaABC .conteudoPaginaMaster {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 89.5%;
}

.PagEscolhaCurvaABC h1 {
    margin-top: 10%;
    background-color: #ffffff;
    border: 1px solid #000;
    min-width: 100px;
    width: calc(96%);
    border-radius: 10px;
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* Cards */
.PagEscolhaCurvaABC .ag-format-container {
    width: 1000px;
    margin: 0 auto;
}

.PagEscolhaCurvaABC .ag-courses_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 100px 0;
}

.PagEscolhaCurvaABC .ag-courses_item {
    flex-basis: calc(50% - 50px);
    cursor: pointer;
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.PagEscolhaCurvaABC .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}

.PagEscolhaCurvaABC .ag-courses-item_link:hover,
.PagEscolhaCurvaABC .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.PagEscolhaCurvaABC .ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(10);
}

.PagEscolhaCurvaABC .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.PagEscolhaCurvaABC .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.PagEscolhaCurvaABC .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    transition: color .5s ease;
}

.PagEscolhaCurvaABC .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #03b5fc;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
}

.PagEscolhaCurvaABC .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #ff0000;
}

.PagEscolhaCurvaABC .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #8a02e4;
}

@media only screen and (max-width: 979px) {
    .PagEscolhaCurvaABC .ag-courses_item {
        flex-basis: calc(50% - 30px);
    }
    .PagEscolhaCurvaABC .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .PagEscolhaCurvaABC .ag-format-container {
        width: 96%;
    }
}

@media only screen and (max-width: 639px) {
    .PagEscolhaCurvaABC .ag-courses_item {
        flex-basis: 100%;
    }
    .PagEscolhaCurvaABC .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }
    .PagEscolhaCurvaABC .ag-courses-item_link {
        padding: 22px 40px;
    }
    .PagEscolhaCurvaABC .ag-courses-item_date-box {
        font-size: 16px;
    }
}
