.PagPerfil {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
}

.PagPerfil .Corpo {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}


.PagPerfil .forms {
    border: 1px solid #000;
    width: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 8px #888888;
    margin-right: 20px;
    background-color: #eceae8;
}

.PagPerfil .coluna1 {
    flex-direction: column;
}

.PagPerfil .coluna2 {
    flex-direction: column;
}

.PagPerfil .row {
    display: flex;
    flex-direction: column;
}

.PagPerfil .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}

.PagPerfil .ButtonEditar {
    padding: 10px;
    border-radius: 3px;
    width: 150px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
}

.PagPerfil .ButtonExcluir {
    padding: 10px;
    border-radius: 3px;
    width: 150px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
}


.PagPerfil .Informacoes1 {
    border: 1px solid #000;

    flex-wrap: wrap;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 8px #888888;
    margin-left: 60px;
    line-height: 35px;
    background-color: #eceae8;
}

.PagPerfil .Informacoes2 {
    border: 1px solid #000;

    flex-wrap: wrap;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 8px #888888;
    margin-left: 60px;
    margin-top: 70px;
    line-height: 35px;
    background-color: #eceae8;
}

.PagPerfil .Informacoes3 {
    border: 1px solid #000;

    flex-wrap: wrap;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 8px #888888;
    margin-left: 60px;
    margin-top: 70px;
    line-height: 35px;
    background-color: #eceae8;
}

.PagPerfil .data-user h1 {
    text-align: center;
}

.PagPerfil .data-user h2 {
    text-align: left;
}

.PagPerfil .Pendencias {
    text-align: center;

}

.PagPerfil .Pendencias p {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
}

.PagPerfil .Pendencias {
    border: 1px solid #000;
    flex-wrap: wrap;
    height: auto;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 8px #888888;
    margin-top: 60px;
    height: 220px;
    overflow-y: scroll;
    background-color: #eceae8;
}

.PagPerfil .PegaTudo{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    width: 100%;
}

.PagPerfil .DivBtnsFuncionarios{
    display: flex;
    width: 1100px;
    
}

.PagPerfil .notific{
    display: flex;
    margin-left: 420px;
}

.PagPerfil #IdBtnAddFunc{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.PagPerfil #IdAddFuncIcon{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
}
.PagPerfil .AddFunc{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    width: 200px;
    background-color: #e04d18;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono';
    box-shadow: 5px 5px 0px #888888;
}
.PagPerfil #IdBtnAddFunc img{
    width: 40px;
    height: 40px;
}
/* Imagens das Informações*/
.PagPerfil .Imagem1 {
    width: 25px;
    height: 25px;
}

.PagPerfil .Imagem2 {
    width: 25px;
    height: 25px;
}
.PagPerfil .Imagem3 {
    width: 25px;
    height: 25px;
}
.PagPerfil .Imagem4 {
    width: 25px;
    height: 25px;
}
.PagPerfil .Imagem5 {
    width: 25px;
    height: 25px;
}


.PagPerfil .Imagem1 {
    margin-top: -10px;
}


.PagPerfil .notific img {
    height: 35px;
    width: 35px;
}



