.PagAddFunc *{ 
  font-family: 'JetBrains Mono', monospace; 
  }
  
  .PagAddFunc div.btn{
    margin-left: 25%;
    margin-top: 40px;
  }

  .PagAddFunc div.btn:hover{
    transform: none;
  }

  .PagAddFunc .formAddFunc {
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
  }
  
  .PagAddFunc .formAddFunc input[type=text],[type=number],[type=email]{
    width: 100%;
  }
  
  .PagAddFunc h2{
    text-align: left;
  }
  
  .PagAddFunc .titulocadastro h1{
    text-align: center;
  }
  
  .PagAddFunc .btn button, .PagAddFunc .formAddFunc button{
    background-color: #1e293b;
    border-color: transparent;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }