.Notificacao .DivPrincipalzinha {
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.Notificacao span{
  margin: 10px;
}

.Notificacao #DivImg {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: relative;
}

.Notificacao #DivImg img{
  height: 50px;
  width: 50px;
}


.Notificacao .qtdNot {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: rgb(158, 158, 158);
  border-radius: 50%;
  color: white;
  animation: bounceIn 0.5s ease;
}

/* Animação bounceIn */
@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Animação bounceHover */
@keyframes bounceHover {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* animação quando o mouse estiver sobre o ícone */

.Notificacao #DivImg:hover {
  animation: bounceHover 1s infinite;
}

/* Estilos para o popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: default;
}

.Notificacao .popup-content {
  border: 1px solid #000;
  background: #f0eded;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  max-height: 500px;
  width: 90%;
  text-align: center;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  text-wrap: wrap;
  cursor: auto;
  color: #000;
}

.Notificacao .notificacaoH2 {
  background: none !important;
  font-size: 30px;
}

.Notificacao .close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff5f5f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Notificacao .close-popup:hover {
  background: #ff1f1f;
}

.Notificacao .popup h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.Notificacao .popup p {
  margin: 10px 0;
}

.Notificacao .BotaoAcao {
  margin-bottom: 2vh;
  margin-top: 2vh;
  min-width: 8vw;
  min-height: 3.5vh;
  background-color: #eb6c3e;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
  cursor: pointer;
  color:#f0eded ;
  border-color: transparent;
  font-size: 16px;
}

.Notificacao .BotaoAcao:hover {
  background-color: #d6501f;
}
