/* @tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  height: 100vh; 
  overflow-y: auto;  
}

/* 
.sidebar::-webkit-scrollbar {
  display: none;  
}


.submenu {
  max-height: 1000px;
  overflow-y: auto;  
}


.submenu::-webkit-scrollbar {
  display: none;  
}

 */
