.PagFuncionarios {
    
}

.PagFuncionarios .conteudoPagina {
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', sans-serif;
    align-items: center;
    justify-content: center;
}

.PagFuncionarios .btn {
    margin-right: 67%;
}

.PagFuncionarios .Cabecalho {
    width: 100%;
}

.PagFuncionarios .Conteudo {
    display: flex;
    width: 100%; 
    max-width: 1200px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
    height: 600px;
}

.PagFuncionarios .btn button {
    background-color: #C53D0F;
    border-color: transparent;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
    margin: 10px auto;
    width: 80px;
    font-family: 'JetBrains Mono';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.PagFuncionarios .BarraLateral {
    width: 100%;
    border-right: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PagFuncionarios .BarraLateral input[type="text"] {
    width: 580px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.PagFuncionarios .ItemFuncionario {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.PagFuncionarios .ItemFuncionario:hover {
    background-color: #f0f0f0;
}

.PagFuncionarios .ConteudoPrincipal {
    width: 100%;
    padding: 20px;
    display: flex;
}

.PagFuncionarios .dados-usuario {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 300px;
}

.PagFuncionarios .dados-usuario h2 {
    margin: 10px 0;
}

.PagFuncionarios .dados-usuario h2:first-child {
    margin-top: 0;
}

.PagFuncionarios .dados-usuario h2:last-child {
    margin-bottom: 0;
}

.PagFuncionarios .botoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.PagFuncionarios .botoes button {
    background-color: #C53D0F;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    padding: 8px 12px;
    cursor: pointer;
    margin: 10px;
    font-family: 'JetBrains Mono', monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.PagFuncionarios .botoes button:focus {
    outline: none;
}

.PagFuncionarios .botoes button:hover {
    background-color: #a4310b;
}

@media print {
    body * {
      visibility: hidden;
    }
    .PagFuncionarios, .PagFuncionarios * {
      visibility: visible;
    }
    .PagFuncionarios {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
