.CabecalhoHome *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono';
}

@media  screen and (max-width: 1400px) {
  .CabecalhoHome #NomeEmpresa{
      display: none;
  } 
}

@media  screen and (max-width: 1050px) {
  .CabecalhoHome .nav2{
      overflow-x: auto !important;
      align-items: flex-start;
  } 

  .CabecalhoHome ul li ul.dropdown{
    display: block !important;
  }

  .CabecalhoHome li:hover ul.dropdown{
    display: block;
  }

}


@media  screen and (max-width: 1000px) {
.CabecalhoHome #logo{
    display: none;
} 

.CabecalhoHome .nav1{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0px 0px !important;
}
}

.CabecalhoHome #NomeEmpresa{
  color: #fff;
  font-size: 40px;
}

.CabecalhoHome .nav1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c53d0f;
  padding: 10px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  max-height: 100px;
}

.CabecalhoHome .nav2 {
  display: flex;
  float: left;
  background-color: #fcd38b;
  box-shadow: 0 5px 15px rgba(133, 95, 70, 0.06);
  white-space: nowrap;
  width: 100%;
}

.CabecalhoHome .nav2 .paginas{
  min-width: 150px;
}

.CabecalhoHome .nav2 li{
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.CabecalhoHome .nav2 li:hover {
  background-color: #f85103;
  cursor: pointer;
  color: #f6f6f6;
  transition: background-color 0.5s, border-color 0.5s;
  border-radius: 5px; /* Adiciona bordas arredondadas */
}

.CabecalhoHome .nav2 ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
}

.CabecalhoHome ul li {
  display: inline-block;
  position: relative;
}

.CabecalhoHome ul li a{
  display: block;
}

.CabecalhoHome ul li ul.dropdown{
  display: none;
  position: absolute;
  z-index: 999;
  background-color:  #fcd38b;
}

.CabecalhoHome li:hover ul.dropdown{
  display: block;
}

.CabecalhoHome nav  #logo{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #f6f6f6;
  text-align: center;
}

.CabecalhoHome #navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.CabecalhoHome #navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}


.CabecalhoHome #navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  transition: 0.3s ease-in-out;
}

.CabecalhoHome #navbar li a:hover,.CabecalhoHome #navbar li a.active{
  color: #6b2108;
}

.CabecalhoHome #navbar li a:hover::after,.CabecalhoHome #navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #6d1b00;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.CabecalhoHome #mobile i{
  align-items: center;
  color:#fff
}

.CabecalhoHome #mobile{
  display: none;
}



/* Informações sobre os usuários */
.CabecalhoHome .DivInfoUser{
  display: flex;
  flex-direction: row;
  align-self: center;
  white-space: nowrap;
  width: 440px;
  gap: 30px;
}

.CabecalhoHome img{
  align-items: center;
  width: 35px;
  height: 38px;
}

.CabecalhoHome #DivImg{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.CabecalhoHome #DivNotificação img{
  background-color: #ffffff00;
}

.CabecalhoHome .NomeUserIdLabel{
  text-decoration: none;  
  font-size: 1.3rem;
  font-weight: 600;
  color: #f6f6f6;
  cursor: auto;
}

.CabecalhoHome .NomeUserId{
  display: flex;
  justify-content: center;
  align-items: center;
}