.ProdutosModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProdutosModal .conteudo-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 1000px; 
    height: 700px; 
    display: flex;
    flex-direction: column;
}

.ProdutosModal .cabecalho-modal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.ProdutosModal .botao-aba {
    background-color: #f1f1f1;   
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0; 
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    font-size: 16px;
    font-weight: bold; 
}
.ProdutosModal .Titulo{
    width: 100%;
    text-align: center;
}

.ProdutosModal .subTitulo{
    width: 100%;
    text-align: center;
}
.ProdutosModal .botao-aba:hover {
    background-color: #ddd;
    border-color: #bbb;
    transform: translateY(-2px); 
}

.ProdutosModal .botao-aba.ativa {
    background-color: #fff; 
    border-color: #fff;
    color: #333; 
    box-shadow: none;
    border-bottom: 1px solid transparent; 
    position: relative;
    z-index: 2; 
    transform: translateY(0); 
}

.ProdutosModal .botao-aba.ativa:hover {
    background-color: #fff;
    border-color: #fff;
    transform: none;
}
.ProdutosModal .botao-fechar {
    border: none;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(252, 58, 58);
    transition: color 0.3s, background-color 0.3s;
    margin-left: auto;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProdutosModal .botao-fechar:hover {
    color: darkred;
    background-color: red;
}

.ProdutosModal .corpo-modal {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 10px;
    overflow-x: hidden;
}

.ProdutosModal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ProdutosModal li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.ProdutosModal li:hover {
    background-color: #f9f9f9;
}

.ProdutosModal .divConteudo {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

/* Form Labels and Inputs */
.ProdutosModal .divConteudo label {
    font-size: 1rem;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.ProdutosModal .divConteudo input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    min-width: 80%;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.ProdutosModal .divConteudo input:focus {
    border-color: #e04d18;
    box-shadow: 0 0 5px rgba(38, 143, 255, 0.2);
}

/* Horizontal Rule */
.ProdutosModal hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 15px 0;
}