.PermissoesModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PermissoesModal .Header-e-conteudo{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.PermissoesModal .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.PermissoesModal .header-content h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}
.PermissoesModal .header {
    background-color: #f1f1f1;
    border-radius: 12px 12px 0 0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 60%;
}

.PermissoesModal .conteudo-modal {
    background-color: #fff;
    padding: 30px;
    border-radius: 0 0 12px 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    position: relative; 
}


.PermissoesModal .botao-fechar {
    border: none;
    font-size: 32px;
    font-weight: bold;
    color: #f44336;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    padding: 8px;
    border-radius: 10%;
}

.PermissoesModal .subHeader{
    display: flex;
    gap: 30px;
    padding: 2px;
    flex-direction: row;
}

.PermissoesModal .botao-fechar:hover {
    background-color: #f44336;
    color: #fff;
}

.permissao-section {
    width: 90%;
    overflow-y: auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.permissao-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.permissao-section h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    margin-left: 30px;
}

.permissao-section ul {
    list-style-type: none;
    padding: 0;
}

.permissao-section li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 5px 0;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    overflow-x: hidden;
}

.permissao-section .subLI{
    cursor: default;
    margin-left: 40px;
    margin-bottom: 5px;
}


/*visualiza e edita:*/
.permissao-section .subLIEditandotruetrue{ /*1o true = visualizacao, 2o true = edicao */
    background-color: #e0f8e0;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 5px;
}

.permissao-section .subLIEditandotruetrue:hover {
    background-color: #4bdb1e;
}

/*Não visualiza e nem edita:*/
.permissao-section .subLIEditandofalsefalse{
    background-color: #f8e0e0;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 5px;
}


.permissao-section .subLIEditandofalsefalse:hover {
    background-color: #e43b3b;
}

/*Visualiza, mas não edita: */
.permissao-section .subLIEditandotruefalse{
    background-color: #f8f6e0;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 5px;
}

.permissao-section .subLIEditandotruefalse:hover {
    background-color: #f0de42;
}


.permissao-section li:last-child{
    margin-bottom: 20px;
}



.permissao-section li:hover {
    background-color: #f1f1f1;
}

.permissao-section .checkmark {
    color: rgb(184, 184, 184);
}

.permissao-section .cross {
    color: red;
}

.permissao-section li span {
    font-size: 1.3rem;
}


.PermissoesModal .botao {
    border: none;
    margin-right: 50px;
    font-weight: bold;
    background-color: #C53D0F;
    color:#fff ;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    padding: 8px;
    border-radius: 5px;
}

.PermissoesModal .botaoEditando{
    border: none;
    margin-right: 50px;
    font-weight: bold;
    background-color: #0b9406;
    color:#fff ;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    padding: 8px;
    border-radius: 5px;
}

.PermissoesModal .botaoInativo {
    border: none;
    font-weight: bold;
    margin-right: 50px;
    background-color: #352e2b;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    padding: 8px;
    border-radius: 5px;
    color: #FFFFFF;           
    cursor: not-allowed;      
    opacity: 0.6;            
    transition: none;        
}

.PermissoesModal .tituloPermissoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky; 
    top: 0;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}